<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="asem - 副本 - 副本.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0240650686627074 1.72479612318387E-05 0.0183009805963007"
        rpy="0 0 0" />
      <mass
        value="0.107811485994374" />
      <inertia
        ixx="6.39922118603222E-05"
        ixy="-5.85741482187105E-18"
        ixz="-3.00036332160916E-20"
        iyy="4.48889952433092E-05"
        iyz="-3.17736108216768E-08"
        izz="3.46982954267429E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.064401877048897 0.0173458500286237 -5.00000336023628E-05"
        rpy="0 0 0" />
      <mass
        value="0.113257206808635" />
      <inertia
        ixx="5.00580532788819E-05"
        ixy="3.31270975920516E-08"
        ixz="2.77450597545773E-20"
        iyy="3.81316076196852E-05"
        iyz="-2.10877833229695E-17"
        izz="6.29828496083825E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0.025 0 0.038"
      rpy="-1.5708 -0.41733 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0631739441903987 -0.00025868956825363 -0.0166237377768434"
        rpy="0 0 0" />
      <mass
        value="0.118163172663695" />
      <inertia
        ixx="5.00939012874629E-05"
        ixy="-4.15819953737389E-10"
        ixz="-3.31244874029625E-08"
        iyy="6.30206573248214E-05"
        iyz="-3.11920139774171E-07"
        izz="3.81772467847876E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0.068 0.038 -5E-05"
      rpy="0.012553 -0.028317 1.5708" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 -0.99992 0.012552" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.0012426881887944 -0.000744372873964782 0.057547140599802"
        rpy="0 0 0" />
      <mass
        value="0.246795463404935" />
      <inertia
        ixx="0.000154602543934696"
        ixy="-2.39009478925561E-16"
        ixz="-1.05266925344159E-16"
        iyy="0.000115174252362191"
        iyz="3.17736173952231E-08"
        izz="8.44201806963145E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0.1008 -0.00052699 -0.037996"
      rpy="-1.5708 1.5582 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.122385886998288 -0.00229044331036596 -0.0141484454433516"
        rpy="0 0 0" />
      <mass
        value="0.163556224225247" />
      <inertia
        ixx="6.29302701712524E-05"
        ixy="-3.13462349798409E-07"
        ixz="6.14359344032458E-07"
        iyy="0.000291780439588264"
        iyz="-3.32759965497468E-06"
        izz="0.000254109439957613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="-0.003 0 0.115"
      rpy="-1.5708 -0.40102 -3.1416" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0179889865068534 0.0251621913308185 0.0151734733528332"
        rpy="0 0 0" />
      <mass
        value="0.0476823775277873" />
      <inertia
        ixx="1.22219476651976E-05"
        ixy="-6.08998504565414E-07"
        ixz="-2.41236277290692E-07"
        iyy="7.43738676045494E-06"
        iyz="-3.51170406761274E-07"
        izz="1.58478443053188E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0.19792 -0.032656 -0.042478"
      rpy="1.5708 0.040921 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.00415984762981583 4.28823604542439E-08 0.00454110755382897"
        rpy="0 0 0" />
      <mass
        value="0.00696190953047027" />
      <inertia
        ixx="2.90568170011603E-07"
        ixy="-9.38992791877719E-13"
        ixz="-1.05631866299746E-08"
        iyy="5.11210452241617E-07"
        iyz="-1.61472912042384E-12"
        izz="5.77766721056451E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asem - 副本 - 副本.SLDASM/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0.047475 0.017975 0.019425"
      rpy="1.5708 1.1588 1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>